# First Steps with the OANDA API

## Connecting to the API / Server

In [1]:
import pandas as pd
import tpqoa

In [2]:
api = tpqoa.tpqoa("oanda.cfg")

In [3]:
api.get_account_summary()

{'id': '101-004-22810993-001',
 'alias': 'Primary',
 'currency': 'GBP',
 'balance': '100010.0',
 'createdByUserID': 22810993,
 'createdTime': '2022-07-17T14:43:56.881987200Z',
 'guaranteedStopLossOrderMode': 'ALLOWED',
 'pl': '0.0',
 'resettablePL': '0.0',
 'resettablePLTime': '0',
 'financing': '0.0',
 'commission': '0.0',
 'guaranteedExecutionFees': '0.0',
 'marginRate': '0.02',
 'openTradeCount': 0,
 'openPositionCount': 0,
 'pendingOrderCount': 0,
 'hedgingEnabled': False,
 'unrealizedPL': '0.0',
 'NAV': '100010.0',
 'marginUsed': '0.0',
 'marginAvailable': '100010.0',
 'positionValue': '0.0',
 'marginCloseoutUnrealizedPL': '0.0',
 'marginCloseoutNAV': '100010.0',
 'marginCloseoutMarginUsed': '0.0',
 'marginCloseoutPercent': '0.0',
 'marginCloseoutPositionValue': '0.0',
 'withdrawalLimit': '100010.0',
 'marginCallMarginUsed': '0.0',
 'marginCallPercent': '0.0',
 'lastTransactionID': '4'}

In [4]:
api.account_type

'practice'

In [5]:
api.account_id

'101-004-22810993-001'

In [6]:
api.get_instruments()

[('China H Shares', 'CHINAH_HKD'),
 ('Australia 200', 'AU200_AUD'),
 ('USD/PLN', 'USD_PLN'),
 ('GBP/AUD', 'GBP_AUD'),
 ('Singapore 30', 'SG30_SGD'),
 ('EUR/USD', 'EUR_USD'),
 ('Soybeans', 'SOYBN_USD'),
 ('AUD/USD', 'AUD_USD'),
 ('EUR/SGD', 'EUR_SGD'),
 ('NZD/CAD', 'NZD_CAD'),
 ('US T-Bond', 'USB30Y_USD'),
 ('USD/HUF', 'USD_HUF'),
 ('EUR/CAD', 'EUR_CAD'),
 ('Netherlands 25', 'NL25_EUR'),
 ('EUR/CHF', 'EUR_CHF'),
 ('UK 10Y Gilt', 'UK10YB_GBP'),
 ('USD/INR', 'USD_INR'),
 ('USD/CAD', 'USD_CAD'),
 ('CHF/HKD', 'CHF_HKD'),
 ('Gold/GBP', 'XAU_GBP'),
 ('Gold/NZD', 'XAU_NZD'),
 ('NZD/JPY', 'NZD_JPY'),
 ('EUR/AUD', 'EUR_AUD'),
 ('Gold/CAD', 'XAU_CAD'),
 ('EUR/ZAR', 'EUR_ZAR'),
 ('AUD/JPY', 'AUD_JPY'),
 ('USD/DKK', 'USD_DKK'),
 ('TRY/JPY', 'TRY_JPY'),
 ('ZAR/JPY', 'ZAR_JPY'),
 ('Silver/JPY', 'XAG_JPY'),
 ('SGD/JPY', 'SGD_JPY'),
 ('GBP/ZAR', 'GBP_ZAR'),
 ('USD/JPY', 'USD_JPY'),
 ('EUR/TRY', 'EUR_TRY'),
 ('EUR/CZK', 'EUR_CZK'),
 ('GBP/JPY', 'GBP_JPY'),
 ('USD/TRY', 'USD_TRY'),
 ('USD/CHF', 'USD_CHF'),
 ('EUR/JPY', 'EUR_JPY'),
 ('Taiwan Index', 'TWIX_USD'),
 ('AUD/SGD', 'AUD_SGD'),
 ('SGD/CHF', 'SGD_CHF'),
 ('Silver/NZD', 'XAG_NZD'),
 ('West Texas Oil', 'WTICO_USD'),
 ('Silver/AUD', 'XAG_AUD'),
 ('EUR/NZD', 'EUR_NZD'),
 ('GBP/HKD', 'GBP_HKD'),
 ('CHF/JPY', 'CHF_JPY'),
 ('Gold/AUD', 'XAU_AUD'),
 ('EUR/HKD', 'EUR_HKD'),
 ('Gold/HKD', 'XAU_HKD'),
 ('Gold/JPY', 'XAU_JPY'),
 ('USD/THB', 'USD_THB'),
 ('GBP/CHF', 'GBP_CHF'),
 ('Gold/SGD', 'XAU_SGD'),
 ('CAD/JPY', 'CAD_JPY'),
 ('Gold/CHF', 'XAU_CHF'),
 ('Japan 225', 'JP225_USD'),
 ('Silver/CAD', 'XAG_CAD'),
 ('USD/ZAR', 'USD_ZAR'),
 ('USD/CZK', 'USD_CZK'),
 ('China A50', 'CN50_USD'),
 ('Europe 50', 'EU50_EUR'),
 ('Silver/SGD', 'XAG_SGD'),
 ('France 40', 'FR40_EUR'),
 ('GBP/SGD', 'GBP_SGD'),
 ('USD/SEK', 'USD_SEK'),
 ('USD/MXN', 'USD_MXN'),
 ('GBP/USD', 'GBP_USD'),
 ('EUR/DKK', 'EUR_DKK'),
 ('Natural Gas', 'NATGAS_USD'),
 ('CAD/CHF', 'CAD_CHF'),
 ('EUR/GBP', 'EUR_GBP'),
 ('CAD/HKD', 'CAD_HKD'),
 ('Switzerland 20', 'CH20_CHF'),
 ('Brent Crude Oil', 'BCO_USD'),
 ('EUR/NOK', 'EUR_NOK'),
 ('Gold', 'XAU_USD'),
 ('Palladium', 'XPD_USD'),
 ('Platinum', 'XPT_USD'),
 ('GBP/CAD', 'GBP_CAD'),
 ('Gold/EUR', 'XAU_EUR'),
 ('Germany 30', 'DE30_EUR'),
 ('NZD/HKD', 'NZD_HKD'),
 ('GBP/PLN', 'GBP_PLN'),
 ('US Wall St 30', 'US30_USD'),
 ('Japan 225 (JPY)', 'JP225Y_JPY'),
 ('EUR/PLN', 'EUR_PLN'),
 ('Sugar', 'SUGAR_USD'),
 ('AUD/CAD', 'AUD_CAD'),
 ('USD/HKD', 'USD_HKD'),
 ('CAD/SGD', 'CAD_SGD'),
 ('US Russ 2000', 'US2000_USD'),
 ('Bund', 'DE10YB_EUR'),
 ('US 2Y T-Note', 'USB02Y_USD'),
 ('US 5Y T-Note', 'USB05Y_USD'),
 ('Hong Kong 33', 'HK33_HKD'),
 ('US 10Y T-Note', 'USB10Y_USD'),
 ('GBP/NZD', 'GBP_NZD'),
 ('CHF/ZAR', 'CHF_ZAR'),
 ('USD/CNH', 'USD_CNH'),
 ('NZD/USD', 'NZD_USD'),
 ('Silver/GBP', 'XAG_GBP'),
 ('Silver/EUR', 'XAG_EUR'),
 ('Corn', 'CORN_USD'),
 ('EUR/HUF', 'EUR_HUF'),
 ('Silver', 'XAG_USD'),
 ('AUD/NZD', 'AUD_NZD'),
 ('UK 100', 'UK100_GBP'),
 ('USD/NOK', 'USD_NOK'),
 ('US SPX 500', 'SPX500_USD'),
 ('NZD/SGD', 'NZD_SGD'),
 ('Wheat', 'WHEAT_USD'),
 ('Copper', 'XCU_USD'),
 ('HKD/JPY', 'HKD_JPY'),
 ('AUD/CHF', 'AUD_CHF'),
 ('Gold/Silver', 'XAU_XAG'),
 ('Spain 35', 'ESPIX_EUR'),
 ('NZD/CHF', 'NZD_CHF'),
 ('Silver/CHF', 'XAG_CHF'),
 ('Silver/HKD', 'XAG_HKD'),
 ('EUR/SEK', 'EUR_SEK'),
 ('USD/SGD', 'USD_SGD'),
 ('AUD/HKD', 'AUD_HKD'),
 ('US Nas 100', 'NAS100_USD')]

In [7]:
instr = api.get_instruments()

In [8]:
len(instr)

125

In [9]:
instr[0]

('China H Shares', 'CHINAH_HKD')

## Getting Historical Data (Part 1)

In [10]:
import pandas as pd
import tpqoa

In [11]:
api = tpqoa.tpqoa("oanda.cfg")

In [12]:
help(api.get_history)

Help on method get_history in module tpqoa.tpqoa:

get_history(instrument, start, end, granularity, price) method of tpqoa.tpqoa.tpqoa instance
    Retrieves historical data for instrument.

    Parameters
    ==========
    instrument: string
        valid instrument name
    start, end: datetime, str
        Python datetime or string objects for start and end
    granularity: string
        a string like 'S5', 'M1' or 'D'
    price: string
        one of 'A' (ask) or 'B' (bid)

    Returns
    =======
    data: pd.DataFrame
        pandas DataFrame object with data

In [15]:
api.get_history(instrument = "GBP_USD", start = "2020-07-01", end = "2020-07-31",
                granularity = "D", price = "B")

,volume,complete,o,h,l,c
time,,,,,,
2020-06-30 21:00:00+00:00,37864,True,1.23965,1.24896,1.23585,1.24724
2020-07-01 21:00:00+00:00,37214,True,1.24681,1.25291,1.24552,1.24649
2020-07-02 21:00:00+00:00,27110,True,1.24619,1.24855,1.24372,1.24744
2020-07-05 21:00:00+00:00,32802,True,1.24676,1.25192,1.24575,1.24890
2020-07-06 21:00:00+00:00,38646,True,1.24870,1.25912,1.24619,1.25411
2020-07-07 21:00:00+00:00,41894,True,1.25411,1.26223,1.25078,1.26067
2020-07-08 21:00:00+00:00,45988,True,1.26037,1.26688,1.25992,1.26019
2020-07-09 21:00:00+00:00,36545,True,1.26040,1.26631,1.25659,1.26182
2020-07-12 21:00:00+00:00,37124,True,1.26103,1.26652,1.25484,1.25505
2020-07-13 21:00:00+00:00,45976,True,1.25550,1.25628,1.24790,1.25501
2020-07-14 21:00:00+00:00,41311,True,1.25506,1.26487,1.25463,1.25836
2020-07-15 21:00:00+00:00,39351,True,1.25790,1.26239,1.25191,1.25510
2020-07-16 21:00:00+00:00,27947,True,1.25550,1.25736,1.25113,1.25643
2020-07-19 21:00:00+00:00,35071,True,1.25503,1.26647,1.25173,1.26588
2020-07-20 21:00:00+00:00,40622,True,1.26598,1.27670,1.26491,1.27287
2020-07-21 21:00:00+00:00,49763,True,1.27292,1.27430,1.26435,1.27306
2020-07-22 21:00:00+00:00,64871,True,1.27242,1.27591,1.26721,1.27380
2020-07-23 21:00:00+00:00,45720,True,1.27370,1.28026,1.27162,1.27913
2020-07-26 21:00:00+00:00,44879,True,1.27881,1.29013,1.27720,1.28784
2020-07-27 21:00:00+00:00,49142,True,1.28784,1.29521,1.28373,1.29287
2020-07-28 21:00:00+00:00,50968,True,1.29311,1.30122,1.29110,1.29945
2020-07-29 21:00:00+00:00,52070,True,1.29931,1.31020,1.29437,1.30927
2020-07-30 21:00:00+00:00,67361,True,1.30927,1.31693,1.30690,1.30836

In [16]:
df = api.get_history(instrument = "GBP_USD", start = "2020-07-01", end = "2020-07-31",
                granularity = "D", price = "B")

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 23 entries, 2020-06-30 21:00:00+00:00 to 2020-07-30 21:00:00+00:00
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   volume    23 non-null     int64
 1   complete  23 non-null     bool
 2   o         23 non-null     float64
 3   h         23 non-null     float64
 4   l         23 non-null     float64
 5   c         23 non-null     float64
dtypes: bool(1), float64(4), int64(1)
memory usage: 1.1 KB

In [20]:
api.get_history(instrument = "GBP_USD", start = "2020-07-01", end = "2020-07-01",
                granularity = "D", price = "A")

,volume,complete,o,h,l,c
time,,,,,,
2020-06-30 21:00:00+00:00,37864,True,1.24025,1.24914,1.23606,1.24784

In [21]:
api.get_history(instrument = "GBP_USD", start = "2020-07-01", end = "2020-07-01",
                granularity = "D", price = "B")

,volume,complete,o,h,l,c
time,,,,,,
2020-06-30 21:00:00+00:00,37864,True,1.23965,1.24896,1.23585,1.24724

## Getting Historical Data (Part 2)

In [22]:
api.get_history("GBP_USD", "2020-08-03", "2020-08-05", "H1", "A")

,volume,complete,o,h,l,c
time,,,,,,
2020-08-03 00:00:00+00:00,3682,True,1.31013,1.31086,1.30583,1.30759
2020-08-03 01:00:00+00:00,2889,True,1.30763,1.30979,1.30662,1.30956
2020-08-03 02:00:00+00:00,1598,True,1.30955,1.30955,1.30801,1.30855
2020-08-03 03:00:00+00:00,1035,True,1.30852,1.30950,1.30825,1.30945
2020-08-03 04:00:00+00:00,867,True,1.30942,1.30982,1.30900,1.30927
2020-08-03 05:00:00+00:00,1106,True,1.30926,1.30967,1.30862,1.30941
2020-08-03 06:00:00+00:00,2121,True,1.30943,1.30950,1.30560,1.30632
2020-08-03 07:00:00+00:00,3088,True,1.30637,1.30867,1.30632,1.30773
2020-08-03 08:00:00+00:00,2845,True,1.30771,1.31137,1.30764,1.31024
2020-08-03 09:00:00+00:00,2826,True,1.31023,1.31038,1.30380,1.30442
2020-08-03 10:00:00+00:00,3351,True,1.30439,1.30478,1.30131,1.30162
2020-08-03 11:00:00+00:00,2130,True,1.30165,1.30344,1.30132,1.30328
2020-08-03 12:00:00+00:00,3153,True,1.30329,1.30430,1.30159,1.30244
2020-08-03 13:00:00+00:00,3896,True,1.30247,1.30319,1.30058,1.30152
2020-08-03 14:00:00+00:00,4108,True,1.30153,1.30437,1.30106,1.30320
2020-08-03 15:00:00+00:00,2653,True,1.30322,1.30550,1.30306,1.30538
2020-08-03 16:00:00+00:00,1989,True,1.30537,1.30673,1.30492,1.30592
2020-08-03 17:00:00+00:00,1577,True,1.30594,1.30706,1.30575,1.30669
2020-08-03 18:00:00+00:00,1327,True,1.30672,1.30811,1.30651,1.30757
2020-08-03 19:00:00+00:00,1411,True,1.30755,1.30802,1.30659,1.30800
2020-08-03 20:00:00+00:00,463,True,1.30795,1.30817,1.30737,1.30781
2020-08-03 21:00:00+00:00,145,True,1.30801,1.30845,1.30650,1.30773
2020-08-03 22:00:00+00:00,176,True,1.30778,1.30831,1.30758,1.30775
2020-08-03 23:00:00+00:00,180,True,1.30774,1.30798,1.30758,1.30794
2020-08-04 00:00:00+00:00,885,True,1.30793,1.30794,1.30674,1.30699
2020-08-04 01:00:00+00:00,931,True,1.30698,1.30765,1.30674,1.30748
2020-08-04 02:00:00+00:00,719,True,1.30745,1.30895,1.30737,1.30877
2020-08-04 03:00:00+00:00,557,True,1.30876,1.30897,1.30741,1.30754
2020-08-04 04:00:00+00:00,885,True,1.30757,1.30834,1.30722,1.30820
2020-08-04 05:00:00+00:00,730,True,1.30821,1.30840,1.30607,1.30716
2020-08-04 06:00:00+00:00,1766,True,1.30719,1.30882,1.30629,1.30791
2020-08-04 07:00:00+00:00,3374,True,1.30793,1.31088,1.30756,1.30844
2020-08-04 08:00:00+00:00,3156,True,1.30841,1.30924,1.30472,1.30698
2020-08-04 09:00:00+00:00,2534,True,1.30702,1.30795,1.30603,1.30608
2020-08-04 10:00:00+00:00,2591,True,1.30611,1.30682,1.30285,1.30338
2020-08-04 11:00:00+00:00,2629,True,1.30339,1.30405,1.30165,1.30249
2020-08-04 12:00:00+00:00,3898,True,1.30252,1.30285,1.29824,1.29867
2020-08-04 13:00:00+00:00,3529,True,1.29870,1.30109,1.29839,1.30096
2020-08-04 14:00:00+00:00,3930,True,1.30101,1.30562,1.30101,1.30459
2020-08-04 15:00:00+00:00,2859,True,1.30461,1.30666,1.30375,1.30591
2020-08-04 16:00:00+00:00,1778,True,1.30590,1.30705,1.30575,1.30658
2020-08-04 17:00:00+00:00,1422,True,1.30656,1.30745,1.30601,1.30608
2020-08-04 18:00:00+00:00,1388,True,1.30607,1.30644,1.30463,1.30576
2020-08-04 19:00:00+00:00,1497,True,1.30577,1.30763,1.30542,1.30719
2020-08-04 20:00:00+00:00,413,True,1.30717,1.30741,1.30676,1.30741
2020-08-04 21:00:00+00:00,64,True,1.30680,1.30729,1.30605,1.30683
2020-08-04 22:00:00+00:00,332,True,1.30688,1.30737,1.30673,1.30728
2020-08-04 23:00:00+00:00,416,True,1.30725,1.30881,1.30691,1.30860

In [23]:
api.get_history("GBP_USD", "2020-08-03", "2020-08-05", "H12", "A")

,volume,complete,o,h,l,c
time,,,,,,
2020-08-02 21:00:00+00:00,20981,True,1.30878,1.31137,1.30560,1.31024
2020-08-03 09:00:00+00:00,28884,True,1.31023,1.31038,1.30058,1.30781
2020-08-03 21:00:00+00:00,13504,True,1.30801,1.31088,1.30472,1.30698
2020-08-04 09:00:00+00:00,28468,True,1.30702,1.30795,1.29824,1.30741
2020-08-04 21:00:00+00:00,13338,True,1.30680,1.31244,1.30589,1.31023

In [30]:
api.get_history("GBP_USD", "2020-08-03", "2020-08-05", "M1", "A")

c:\Users\lilaa\anaconda3\envs\Sheffield\lib\site-packages\tpqoa\tpqoa.py:161: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = pd.concat([data,batch],axis=0)
c:\Users\lilaa\anaconda3\envs\Sheffield\lib\site-packages\tpqoa\tpqoa.py:161: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = pd.concat([data,batch],axis=0)

,volume,complete,o,h,l,c
time,,,,,,
2020-08-03 00:00:00+00:00,43,True,1.31013,1.31026,1.31000,1.31025
2020-08-03 00:01:00+00:00,28,True,1.31022,1.31062,1.31022,1.31062
2020-08-03 00:02:00+00:00,36,True,1.31061,1.31086,1.31061,1.31068
2020-08-03 00:03:00+00:00,16,True,1.31071,1.31081,1.31067,1.31067
2020-08-03 00:04:00+00:00,41,True,1.31064,1.31064,1.31007,1.31017
...,...,...,...,...,...,...
2020-08-04 23:55:00+00:00,32,True,1.30832,1.30853,1.30830,1.30843
2020-08-04 23:56:00+00:00,11,True,1.30843,1.30856,1.30842,1.30856
2020-08-04 23:57:00+00:00,32,True,1.30859,1.30881,1.30859,1.30874
2020-08-04 23:58:00+00:00,13,True,1.30871,1.30871,1.30858,1.30863
2020-08-04 23:59:00+00:00,15,True,1.30864,1.30865,1.30857,1.30860

In [33]:
api.get_history("GBP_USD", "2020-08-03", "2020-08-04", "S5", "A")

c:\Users\lilaa\anaconda3\envs\Sheffield\lib\site-packages\tpqoa\tpqoa.py:161: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = pd.concat([data,batch],axis=0)
c:\Users\lilaa\anaconda3\envs\Sheffield\lib\site-packages\tpqoa\tpqoa.py:161: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = pd.concat([data,batch],axis=0)
c:\Users\lilaa\anaconda3\envs\Sheffield\lib\site-packages\tpqoa\tpqoa.py:161: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = pd.concat([data,batch],axis=0)
c:\Users\lilaa\anaconda3\envs\Sheffield\lib\site-packages\tpqoa\tpqoa.py:161: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = pd.concat([data,batch],axis=0)
c:\Users\lilaa\anaconda3\envs\Sheffield\lib\site-packages\tpqoa\tpqoa.py:161: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = pd.concat([data,batch],axis=0)
c:\Users\lilaa\anaconda3\envs\Sheffield\lib\site-packages\tpqoa\tpqoa.py:161: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = pd.concat([data,batch],axis=0)

,volume,complete,o,h,l,c
time,,,,,,
2020-08-03 00:00:00+00:00,12,True,1.31013,1.31016,1.31000,1.31016
2020-08-03 00:00:05+00:00,3,True,1.31013,1.31013,1.31006,1.31006
2020-08-03 00:00:10+00:00,2,True,1.31005,1.31008,1.31005,1.31008
2020-08-03 00:00:15+00:00,5,True,1.31004,1.31006,1.31002,1.31004
2020-08-03 00:00:20+00:00,1,True,1.31007,1.31007,1.31007,1.31007
...,...,...,...,...,...,...
2020-08-03 23:56:25+00:00,5,True,1.30787,1.30796,1.30787,1.30796
2020-08-03 23:56:35+00:00,1,True,1.30794,1.30794,1.30794,1.30794
2020-08-03 23:56:40+00:00,2,True,1.30792,1.30792,1.30791,1.30791
2020-08-03 23:56:50+00:00,1,True,1.30792,1.30792,1.30792,1.30792
2020-08-03 23:57:55+00:00,1,True,1.30794,1.30794,1.30794,1.30794

In [34]:
api.get_instruments()

[('China H Shares', 'CHINAH_HKD'),
 ('Australia 200', 'AU200_AUD'),
 ('USD/PLN', 'USD_PLN'),
 ('GBP/AUD', 'GBP_AUD'),
 ('Singapore 30', 'SG30_SGD'),
 ('EUR/USD', 'EUR_USD'),
 ('Soybeans', 'SOYBN_USD'),
 ('AUD/USD', 'AUD_USD'),
 ('EUR/SGD', 'EUR_SGD'),
 ('NZD/CAD', 'NZD_CAD'),
 ('US T-Bond', 'USB30Y_USD'),
 ('USD/HUF', 'USD_HUF'),
 ('EUR/CAD', 'EUR_CAD'),
 ('Netherlands 25', 'NL25_EUR'),
 ('EUR/CHF', 'EUR_CHF'),
 ('UK 10Y Gilt', 'UK10YB_GBP'),
 ('USD/INR', 'USD_INR'),
 ('USD/CAD', 'USD_CAD'),
 ('CHF/HKD', 'CHF_HKD'),
 ('Gold/GBP', 'XAU_GBP'),
 ('Gold/NZD', 'XAU_NZD'),
 ('NZD/JPY', 'NZD_JPY'),
 ('EUR/AUD', 'EUR_AUD'),
 ('Gold/CAD', 'XAU_CAD'),
 ('EUR/ZAR', 'EUR_ZAR'),
 ('AUD/JPY', 'AUD_JPY'),
 ('USD/DKK', 'USD_DKK'),
 ('TRY/JPY', 'TRY_JPY'),
 ('ZAR/JPY', 'ZAR_JPY'),
 ('Silver/JPY', 'XAG_JPY'),
 ('SGD/JPY', 'SGD_JPY'),
 ('GBP/ZAR', 'GBP_ZAR'),
 ('USD/JPY', 'USD_JPY'),
 ('EUR/TRY', 'EUR_TRY'),
 ('EUR/CZK', 'EUR_CZK'),
 ('GBP/JPY', 'GBP_JPY'),
 ('USD/TRY', 'USD_TRY'),
 ('USD/CHF', 'USD_CHF'),
 ('EUR/JPY', 'EUR_JPY'),
 ('Taiwan Index', 'TWIX_USD'),
 ('AUD/SGD', 'AUD_SGD'),
 ('SGD/CHF', 'SGD_CHF'),
 ('Silver/NZD', 'XAG_NZD'),
 ('West Texas Oil', 'WTICO_USD'),
 ('Silver/AUD', 'XAG_AUD'),
 ('EUR/NZD', 'EUR_NZD'),
 ('GBP/HKD', 'GBP_HKD'),
 ('CHF/JPY', 'CHF_JPY'),
 ('Gold/AUD', 'XAU_AUD'),
 ('EUR/HKD', 'EUR_HKD'),
 ('Gold/HKD', 'XAU_HKD'),
 ('Gold/JPY', 'XAU_JPY'),
 ('USD/THB', 'USD_THB'),
 ('GBP/CHF', 'GBP_CHF'),
 ('Gold/SGD', 'XAU_SGD'),
 ('CAD/JPY', 'CAD_JPY'),
 ('Gold/CHF', 'XAU_CHF'),
 ('Japan 225', 'JP225_USD'),
 ('Silver/CAD', 'XAG_CAD'),
 ('USD/ZAR', 'USD_ZAR'),
 ('USD/CZK', 'USD_CZK'),
 ('China A50', 'CN50_USD'),
 ('Europe 50', 'EU50_EUR'),
 ('Silver/SGD', 'XAG_SGD'),
 ('France 40', 'FR40_EUR'),
 ('GBP/SGD', 'GBP_SGD'),
 ('USD/SEK', 'USD_SEK'),
 ('USD/MXN', 'USD_MXN'),
 ('GBP/USD', 'GBP_USD'),
 ('EUR/DKK', 'EUR_DKK'),
 ('Natural Gas', 'NATGAS_USD'),
 ('CAD/CHF', 'CAD_CHF'),
 ('EUR/GBP', 'EUR_GBP'),
 ('CAD/HKD', 'CAD_HKD'),
 ('Switzerland 20', 'CH20_CHF'),
 ('Brent Crude Oil', 'BCO_USD'),
 ('EUR/NOK', 'EUR_NOK'),
 ('Gold', 'XAU_USD'),
 ('Palladium', 'XPD_USD'),
 ('Platinum', 'XPT_USD'),
 ('GBP/CAD', 'GBP_CAD'),
 ('Gold/EUR', 'XAU_EUR'),
 ('Germany 30', 'DE30_EUR'),
 ('NZD/HKD', 'NZD_HKD'),
 ('GBP/PLN', 'GBP_PLN'),
 ('US Wall St 30', 'US30_USD'),
 ('Japan 225 (JPY)', 'JP225Y_JPY'),
 ('EUR/PLN', 'EUR_PLN'),
 ('Sugar', 'SUGAR_USD'),
 ('AUD/CAD', 'AUD_CAD'),
 ('USD/HKD', 'USD_HKD'),
 ('CAD/SGD', 'CAD_SGD'),
 ('US Russ 2000', 'US2000_USD'),
 ('Bund', 'DE10YB_EUR'),
 ('US 2Y T-Note', 'USB02Y_USD'),
 ('US 5Y T-Note', 'USB05Y_USD'),
 ('Hong Kong 33', 'HK33_HKD'),
 ('US 10Y T-Note', 'USB10Y_USD'),
 ('GBP/NZD', 'GBP_NZD'),
 ('CHF/ZAR', 'CHF_ZAR'),
 ('USD/CNH', 'USD_CNH'),
 ('NZD/USD', 'NZD_USD'),
 ('Silver/GBP', 'XAG_GBP'),
 ('Silver/EUR', 'XAG_EUR'),
 ('Corn', 'CORN_USD'),
 ('EUR/HUF', 'EUR_HUF'),
 ('Silver', 'XAG_USD'),
 ('AUD/NZD', 'AUD_NZD'),
 ('UK 100', 'UK100_GBP'),
 ('USD/NOK', 'USD_NOK'),
 ('US SPX 500', 'SPX500_USD'),
 ('NZD/SGD', 'NZD_SGD'),
 ('Wheat', 'WHEAT_USD'),
 ('Copper', 'XCU_USD'),
 ('HKD/JPY', 'HKD_JPY'),
 ('AUD/CHF', 'AUD_CHF'),
 ('Gold/Silver', 'XAU_XAG'),
 ('Spain 35', 'ESPIX_EUR'),
 ('NZD/CHF', 'NZD_CHF'),
 ('Silver/CHF', 'XAG_CHF'),
 ('Silver/HKD', 'XAG_HKD'),
 ('EUR/SEK', 'EUR_SEK'),
 ('USD/SGD', 'USD_SGD'),
 ('AUD/HKD', 'AUD_HKD'),
 ('US Nas 100', 'NAS100_USD')]

In [35]:
api.get_history("SPX500_USD", "2020-08-03", "2020-08-04", "H1", "A")

                           volume  complete       o       h       l       c
time
2020-08-03 00:00:00+00:00    2094      True  3272.8  3276.1  3267.0  3273.5
2020-08-03 01:00:00+00:00    1916      True  3273.8  3279.6  3271.5  3277.8
2020-08-03 02:00:00+00:00     843      True  3278.1  3278.1  3270.5  3271.8
2020-08-03 03:00:00+00:00     482      True  3272.3  3273.8  3269.5  3270.3
2020-08-03 04:00:00+00:00     368      True  3270.6  3271.8  3268.5  3271.8
2020-08-03 05:00:00+00:00     499      True  3272.0  3275.6  3270.0  3272.4
2020-08-03 06:00:00+00:00     743      True  3272.0  3272.8  3267.3  3270.0
2020-08-03 07:00:00+00:00    1717      True  3270.3  3272.3  3263.0  3272.0
2020-08-03 08:00:00+00:00    1160      True  3272.3  3275.9  3264.3  3267.8
2020-08-03 09:00:00+00:00    1085      True  3267.5  3275.3  3266.0  3275.0
2020-08-03 10:00:00+00:00    1078      True  3274.5  3288.8  3273.8  3288.0
2020-08-03 11:00:00+00:00     697      True  3288.3  3292.0  3286.2  3291.8
2020-08-03 12:00:00+00:00     596      True  3292.3  3294.1  3290.3  3292.5
2020-08-03 13:00:00+00:00    1555      True  3292.6  3293.3  3284.7  3291.0
2020-08-03 14:00:00+00:00    1824      True  3290.8  3300.0  3286.5  3289.7
2020-08-03 15:00:00+00:00     753      True  3290.0  3301.5  3289.2  3298.2
2020-08-03 16:00:00+00:00     633      True  3298.5  3299.5  3295.0  3296.5
2020-08-03 17:00:00+00:00     566      True  3297.0  3300.0  3296.2  3298.5
2020-08-03 18:00:00+00:00     845      True  3298.8  3303.5  3296.7  3302.2
2020-08-03 19:00:00+00:00    1796      True  3302.5  3303.1  3291.5  3295.2
2020-08-03 20:00:00+00:00     643      True  3295.0  3298.6  3291.2  3297.0
2020-08-03 22:00:00+00:00     478      True  3295.8  3296.6  3293.8  3295.3
2020-08-03 23:00:00+00:00     409      True  3295.0  3298.4  3294.3  3295.8

## Streaming high-frequency real-time Data

In [1]:
import pandas as pd
import tpqoa

In [2]:
api = tpqoa.tpqoa("oanda.cfg")

In [3]:
api.stream_data('EUR_USD')

2022-07-18T04:41:49.907543189Z 1.00889 1.00903
2022-07-18T04:42:17.021647343Z 1.00888 1.00903
2022-07-18T04:42:17.508834906Z 1.00881 1.00899
2022-07-18T04:42:17.822144984Z 1.00881 1.00897
2022-07-18T04:42:20.787315315Z 1.00881 1.00898
2022-07-18T04:42:20.926948720Z 1.00881 1.00897
2022-07-18T04:42:21.824358701Z 1.00882 1.00896
2022-07-18T04:42:24.398343606Z 1.00875 1.00892
2022-07-18T04:42:24.599197249Z 1.00876 1.00891
2022-07-18T04:42:25.070492850Z 1.00878 1.00893
2022-07-18T04:42:32.538463168Z 1.00877 1.00893
2022-07-18T04:42:33.139962125Z 1.00877 1.00892

KeyboardInterrupt:

In [ ]:
api.stop_stream()

## Creating Orders and Executing Trades

In [39]:
import pandas as pd
import tpqoa

In [40]:
api = tpqoa.tpqoa("oanda.cfg")

In [4]:
api.create_order(instrument = "EUR_USD", units = 100000, sl_distance= 0.1)

 {'id': '8', 'time': '2022-07-18T04:42:51.516564846Z', 'userID': 22810993, 'accountID': '101-004-22810993-001', 'batchID': '7', 'requestID': '42983453730521950', 'type': 'ORDER_FILL', 'orderID': '7', 'instrument': 'EUR_USD', 'units': '100000.0', 'gainQuoteHomeConversionFactor': '0.837411687877', 'lossQuoteHomeConversionFactor': '0.845827885746', 'price': 1.00892, 'fullVWAP': 1.00892, 'fullPrice': {'type': 'PRICE', 'bids': [{'price': 1.00875, 'liquidity': '10000000'}], 'asks': [{'price': 1.00892, 'liquidity': '10000000'}], 'closeoutBid': 1.00875, 'closeoutAsk': 1.00892}, 'reason': 'MARKET_ORDER', 'pl': '0.0', 'financing': '0.0', 'commission': '0.0', 'guaranteedExecutionFee': '0.0', 'accountBalance': '100010.0', 'tradeOpened': {'tradeID': '8', 'units': '100000.0', 'price': 1.00892, 'guaranteedExecutionFee': '0.0', 'halfSpreadCost': '7.1538', 'initialMarginRequired': '2827.4364'}, 'halfSpreadCost': '7.1538'}

In [5]:
api.create_order(instrument = "EUR_USD", units = -100000, sl_distance= 0.1)

 {'id': '11', 'time': '2022-07-18T04:43:03.696569817Z', 'userID': 22810993, 'accountID': '101-004-22810993-001', 'batchID': '10', 'requestID': '42983453780863866', 'type': 'ORDER_FILL', 'orderID': '10', 'instrument': 'EUR_USD', 'units': '-100000.0', 'gainQuoteHomeConversionFactor': '0.837425784946', 'lossQuoteHomeConversionFactor': '0.845842124493', 'price': 1.00876, 'fullVWAP': 1.00876, 'fullPrice': {'type': 'PRICE', 'bids': [{'price': 1.00876, 'liquidity': '10000000'}], 'asks': [{'price': 1.00893, 'liquidity': '10000000'}], 'closeoutBid': 1.00876, 'closeoutAsk': 1.00893}, 'reason': 'MARKET_ORDER', 'pl': '-13.5335', 'financing': '0.0', 'commission': '0.0', 'guaranteedExecutionFee': '0.0', 'accountBalance': '99996.4665', 'tradesClosed': [{'tradeID': '8', 'units': '-100000.0', 'price': 1.00876, 'realizedPL': '-13.5335', 'financing': '0.0', 'guaranteedExecutionFee': '0.0', 'halfSpreadCost': '7.1539'}], 'halfSpreadCost': '7.1539'}

In [6]:
api.get_account_summary()

{'id': '101-004-22810993-001',
 'alias': 'Primary',
 'currency': 'GBP',
 'balance': '99996.4665',
 'createdByUserID': 22810993,
 'createdTime': '2022-07-17T14:43:56.881987200Z',
 'guaranteedStopLossOrderMode': 'ALLOWED',
 'pl': '-13.5335',
 'resettablePL': '-13.5335',
 'resettablePLTime': '0',
 'financing': '0.0',
 'commission': '0.0',
 'guaranteedExecutionFees': '0.0',
 'marginRate': '0.02',
 'openTradeCount': 0,
 'openPositionCount': 0,
 'pendingOrderCount': 0,
 'hedgingEnabled': False,
 'unrealizedPL': '0.0',
 'NAV': '99996.4665',
 'marginUsed': '0.0',
 'marginAvailable': '99996.4665',
 'positionValue': '0.0',
 'marginCloseoutUnrealizedPL': '0.0',
 'marginCloseoutNAV': '99996.4665',
 'marginCloseoutMarginUsed': '0.0',
 'marginCloseoutPercent': '0.0',
 'marginCloseoutPositionValue': '0.0',
 'withdrawalLimit': '99996.4665',
 'marginCallMarginUsed': '0.0',
 'marginCallPercent': '0.0',
 'lastTransactionID': '12'}

In [10]:
api.get_transactions(tid = 10)

[{'id': '11',
  'time': '2022-07-18T04:43:03.696569817Z',
  'userID': 22810993,
  'accountID': '101-004-22810993-001',
  'batchID': '10',
  'requestID': '42983453780863866',
  'type': 'ORDER_FILL',
  'orderID': '10',
  'instrument': 'EUR_USD',
  'units': '-100000.0',
  'gainQuoteHomeConversionFactor': '0.837425784946',
  'lossQuoteHomeConversionFactor': '0.845842124493',
  'price': 1.00876,
  'fullVWAP': 1.00876,
  'fullPrice': {'type': 'PRICE',
   'bids': [{'price': 1.00876, 'liquidity': '10000000'}],
   'asks': [{'price': 1.00893, 'liquidity': '10000000'}],
   'closeoutBid': 1.00876,
   'closeoutAsk': 1.00893},
  'reason': 'MARKET_ORDER',
  'pl': '-13.5335',
  'financing': '0.0',
  'commission': '0.0',
  'guaranteedExecutionFee': '0.0',
  'accountBalance': '99996.4665',
  'tradesClosed': [{'tradeID': '8',
    'units': '-100000.0',
    'price': 1.00876,
    'realizedPL': '-13.5335',
    'financing': '0.0',
    'guaranteedExecutionFee': '0.0',
    'halfSpreadCost': '7.1539'}],
  'halfSpreadCost': '7.1539'},
 {'id': '12',
  'time': '2022-07-18T04:43:03.696569817Z',
  'userID': 22810993,
  'accountID': '101-004-22810993-001',
  'batchID': '10',
  'requestID': '42983453780863866',
  'type': 'ORDER_CANCEL',
  'orderID': '9',
  'reason': 'LINKED_TRADE_CLOSED'}]

In [11]:
api.print_transactions(tid = 11-1)

   11 | 2022-07-18T04:43:03.696569817Z |   EUR_USD |    -100000.0 | -13.5335